#wrapHex{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-item: center;
    overflow: hidden;
    box-sizing: border-box;
    padding-top:8vw;
    background-color: #EFE234;
}
#wrapHex > div{
    width:101vw;
    height:100vh;
    margin-left:-11vw;
}
.hex{
    position: relative;
    float: left;
    background-color:#000;
    width: 15.6vw;
    height: 9vw;
   /* margin: 5vw 0.5vw 0 0; */

   box-shadow: 0 0 2vh 0.001vh #000;

}
 .back{

    width:100%;
    height:100%;
    position: relative;
    z-index:10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    font-family: Lucida, sans-serif;
    color: #FCFCFC;
    text-transform: uppercase;

}

 .back > img{
    position: absolute;
    top:-5.5vw;
    left:0;
    width:100%;
}


 .hex .corner-1,
 .hex .corner-2 {
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: inherit;
        z-index:2;
        overflow:hidden;
        backface-visibility: hidden;
       box-shadow: 0 0 2vh -0.001vh #000;
 }

.hex .corner-1 {

        transform: rotate(60deg);
 }


 .hex .corner-2 {
        transform: rotate(-60deg);
 }




@media screen and (orientation: landscape) {

   @media  (min-aspect-ratio: 1/1) { /*1*/
         .hex{
                width: 21vw;
                height: 12vw;
                margin: 7.33vw 1.5vw 0 0;


         }
         .active .hex .back > img{
                 top:-6.1vw;
                 left:0;
         }

    }
   @media  (min-aspect-ratio: 11/10) { /*1.1*/
         .hex{
                width: 19.1vw;
                height: 11vw;
                margin: 6vw 0.75vw 0 0;
         }
          .active .hex     .back > img{
                 top:-5.5vw;
                 left:0;

         }

   }

   @media  (min-aspect-ratio: 15/10) { /*1.5*/
         .hex{
                width: 17.5vw;
                height: 10vw;
                margin: 6.11vw 1vw 0 0;
         }
         .active .hex    .back > img{
                 top:-5.1vw;
                 left:0;
         }
   }
   @media  (min-aspect-ratio: 162/100) { /*1.62*/
         .hex{
                width: 15.66vw;
                height: 9vw;
                margin: 5.5vw 1vw 0 0;
         }
          .active  .hex   .back > img{
                 top:-4.55vw;
                 left:0;
         }
   }
   @media  (min-aspect-ratio: 265/100) { /*1.62*/
        #wrapHex{
            padding-top:1vw;
        }
         .active   .hex  .back > img{
                 top:-4.55vw;
                 left:0;
         }
   }



}



@media screen and (orientation: portrait) {

    .hex{
      width: 16vh;
      height: 9vh;
      margin: 5.5vh 0.7vh 0 0;

    }
      .active .hex .back > img{
                 top:-5.95vh;
                 left:0;
    }

    @media  (min-aspect-ratio: 1/2) { /*0.5*/
         .hex{
                width: 15.8vh;
                height: 9vh;
                margin:  5.5vh 1vh 0 0;
         }
          .active  .hex   .back > img{
                 top:-4.7vh;
                 left:0;
         }
    }

    @media  (min-aspect-ratio: 63/100) { /*0.63*/
         .hex{
                width: 19vh;
                height: 10.9vh;
                margin: 6.74vh 1.5vh 0 0;


         }
          .active   .hex   .back > img{
                 top:-5.5vh;
                 left:0;
         }
    }
    @media  (min-aspect-ratio: 4/5) { /*0.8*/
         .hex{
                width: 21.0vh;
                height: 12vh;
                margin: 7.33vh 1.5vh 0 0;


         }
         .active  .hex   .back > img{
                 top:-6.2vh;
                 left:0;
         }
    }
    @media  (min-aspect-ratio: 93/100) {  /*0.94*/
         .hex{
                width: 22.5vh;
                height: 13vh;
                margin: 7.94vh 1.5vh 0 0;


         }
        .active .hex .back > img{
                 top:-6.9vh;
                 left:0;
         }
    }




}
.hex:nth-child(even)  img{
    top: -50vw;
    left: -50vw;
}
.hex:nth-child(odd)  img{
    top: 50vw;
    left: -50vw;
}
.hex:nth-child(4n)  img{
    top: 50vw;
    left: 50vw;
}
.hex:nth-child(4n+1)  img{
    top: -50vw;
    left: 50vw;
}

.back > img{
          -webkit-transition:all 1.5s ease;
     -moz-transition: all 1.5s ease;
     -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}