#wrapPol{
    width:100%;
    height:100%;
    background: #2E92F2 url("../img/polygon/grass.jpg");
    background-repeat: no-repeat;
    background-position:  right bottom;
    background-size: contain;
    overflow: hidden;

}
#cloud,#wrapPol:after,#wrapPol:before{
    width:25%;
    height:25%;
    padding:0%;
    position: absolute;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;


}
.active #cloud{
    right: 3%;
}
.active #wrapPol:after{
    right:10%;
}

#cloud{
       top:12%;
       right:-300%;
       z-index:0;
       background-image: url('../img/polygon/cloud.png');
    }

#wrapPol:after{
       content: "";
       width:50%;
       height:50%;
       bottom:15%;
       right:-50%;
       z-index: 1;
       background-image: url('../img/polygon/tree.png');
    }


#wrapPol:before{
       content: "";
       width:20%;
       height:20%;
       bottom:1%;
       right:30%;
       z-index: 2;
       background-image: url('../img/polygon/cat.png');
    }


#wrapPol > header > p,#content {
    position: relative;
    z-index:5;
    margin:1%;
    margin-left:8%;
    font-size:17vh;
    font-family: Lucida, sans-serif;
    color:#CFFCFF;
    text-shadow: 0 -1px 0 #82DFF1,
               0 -2px 0 #66CDE2,
               0 -3px 0 #4FC3DA,
               0 -4px 0 #42B4CB,
               0 -5px 0 #38A9C0,
               0 -6px 0 #2598AF,
               0 -7px 0 #1789A0,
               0 6px 1px rgba(0,0,0,.5),
               0 0 5px rgba(0,0,0,.5),
               0 1px 3px rgba(0,0,0,.8),
               0 3px 5px rgba(0,0,0,0.1),
               0 5px 15px rgba(0,0,0,0.5),
               0 15px 15px rgba(0,0,0,.5),
               0 30px 30px rgba(0,0,0,.2);
}
#content{
 width: 55vw;
margin: 20% auto ;
 margin-left:8%;
 padding:3%;
 text-align: justify;
 line-height:1.5;
 background-color: rgba(0,0,0,.5);
 font-size:15vh;
 box-shadow:0 10px 25px  #000;
 text-shadow: 0 -1px 0 #82DFF1,
               0 6px 1px rgba(0,0,0,.5),
               0 0 5px rgba(0,0,0,.5),
               0 1px 3px rgba(0,0,0,.8),
               0 3px 5px rgba(0,0,0,0.1),
               0 2px 5px rgba(0,0,0,0.5),
               0 10px 10px rgba(0,0,0,.5),
               0 30px 30px rgba(0,0,0,.2);
}

@media screen and (orientation: landscape) {
  #wrapPol > header > p {
    font-size:15vh;
  }
 .active #content{
    margin-top:10vh;
    line-height:1.1;
    font-size:5vh;
    margin-left:8%;
  }
  #content{
    margin-top:10vh;
    margin-left:-50%;
    line-height:1.1;
    font-size:5vh;
  }
}
@media screen and (orientation: portrait) {
    #wrapPol > header > p {
        font-size:14vw;
    }
   .active #content{
        margin-top:8vh;
         width: 73vw;
          font-size:5vw;
          margin-left:8%;
    }
   #content{
        margin-top:8vh;
         width: 73vw;
         font-size:5vw;
         margin-left:-50%;
    }

    #wrapPol:after{
       content: "";
       width:30%;
       bottom:5%;
       right:1%;
    }
}
@media  (min-aspect-ratio: 262/100) { /*1.62*/
        #wrapPol:after{
            content: "Блять, ну серьезно, зачем тебе такой монитор? Мне лень под него сайт затачивать";
            font-size:5em;
            position:absolute;
            top:10vh;
            left:50vw;
            z-index: 100;
        }
}



#content,#cloud,#wrapPol:after,#wrapPol:before{
        -webkit-transition:all 1.5s ease;
     -moz-transition: all 1.5s ease;
     -o-transition: all 1.5s ease;
    transition: all 1.5s ease;

}